name: MLOps Pipeline

on:
  push:
  pull_request:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup CML
        uses: iterative/setup-cml@v1

      - name: Install dependencies
        run: |
          pip install uv
          uv sync

      - name: Configure DVC Credentials
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          echo "$GDRIVE_CREDENTIALS_DATA" > gdrive_credentials.json
          uv run dvc remote modify --local gdrive_remote gdrive_use_service_account true
          uv run dvc remote modify --local gdrive_remote gdrive_service_account_json_file_path gdrive_credentials.json

      - name: Pull Data
        run: uv run dvc pull

      - name: Run DVC Pipeline
        run: uv run dvc repro

      - name: Push DVC Artifacts
        run: uv run dvc push

      - name: Generate Report
        run: uv run scripts/generate_cml_report.py

      - name: Publish CML Report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create reports/cml_report.md
